$mq-mobile-mini = "only screen and (max-width : 400x)"

$mq-mobile = "only screen and (min-width : 400px)"

$mq-medium = "only screen and (min-width : 600px)"

$mq-large = "only screen and (min-width : 768px)"

$mq-xlarge = "only screen and (min-width : 1024px)"

$mq-xxlarge = "only screen and (min-width : 1200px)"